    @font-face {
      font-family: 'jersey-10'; /* Choose a name for your font */
      src: url('../fonts/Jersey10-Regular.ttf') format('truetype');
      font-weight: normal; 
      font-style: normal; 
    }
